:root {
  --font: "Montserrat", sans-serif;
  --lightGreen: #95c490;
  --darkGreen: #134038;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font);
}
main p {
  line-height: 1.5;
  margin: 16px 0;
}
/* Header area */

header {
  margin-bottom: 5rem;
}
header nav {
  background-color: transparent;
  height: 3.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
#mobileButton {
  display: none;
}
.bg {
  background-color: #134038b3;
  transition: all 0.5s;
}
.bg #navUl {
  padding: 0.5%;
}
.bg #logo {
  margin-top: 0.4vh;
  height: 4vh;
}
.bg #logo:hover {
  margin-top: 0;
  height: 4.4vh;
}
header nav ul {
  text-align: center;
}
header li {
  display: inline-block;
  padding: 0 1rem;
}
#logo {
  margin-top: 4vh;
  height: 5vh;
  transition: all 0.5s;
}
#logo:hover {
  margin-top: 3vh;
  height: 6vh;
}
header nav a {
  color: var(--lightGreen);
  text-decoration: none;
  transition: all 0.5s;
  font-size: 22px;
  font-weight: bolder;
}
header nav a:hover {
  color: #e8e2c6;
  font-size: 24px;
}

/* Hero-banner */

#hero-banner {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  margin-top: 0;
  background-color: #134038;
  height: 100vh;
  width: 100%;
  background: url("https://source.unsplash.com/WajET_vzPmI/1600x900") center
    center/cover no-repeat fixed;
}
#hero-banner::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.45);
  -webkit-filter: blur(80px);
  -moz-filter: blur(80px);
  -o-filter: blur(80px);
  -ms-filter: blur(80px);
  filter: blur(80px);
}
#hero-banner h1 {
  font-size: 8vh;
  color: #efd197;
  z-index: 1;
  margin-left: 9vw;
}

/* Main area */

main h2 {
  padding-bottom: 2rem;
}
#past,
#present,
#future {
  padding-right: 10rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  min-height: 20rem;
  text-align: justify;
}

/* Cards for past / Work */

#past .past_boxes {
  display: flex;
  justify-content: space-between;
}
#past .box {
  background-color: white;
  height: 42vh;
  width: 31%;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 5px #aeaeae;
  transition: box-shadow 0.5s;
}
#past .box:hover {
  box-shadow: 0 0 25px #8a8a8a;
}
#past .box img {
  width: 100%;
  border-radius: 3px;
}
#past .box a {
  text-decoration: none;
  color: #95c490;
}
#past .box a:hover {
  text-decoration: none;
  color: #497354;
}

/* Experience / Present */

#present img {
  float: left;
  /* margin-top: 1rem; */
  margin-right: 1rem;
  border-radius: 3px;
}

/* Skills / Future */

#future .skill_boxes {
  display: flex;
}
#future .box {
  background-color: white;
  height: 25vh;
  width: 15%;
  margin-right: 1rem;
  padding: 2rem 0 0 2rem;
  border-radius: 3px;
  box-shadow: 0 0 5px #aeaeae;
  transition: box-shadow 0.5s;
}
#future .box:hover {
  box-shadow: 0 0 25px #8a8a8a;
}
#future i {
  padding-bottom: 0.5rem;
}
.progressbar {
  background: transparent;
  border-style: solid;
  border-width: 2.5px;
  border-radius: 13px;
  height: 25px;
  width: 7rem;
  padding: 2px;
}
.progressbar:after {
  content: "";
  display: block;
  background: #efd197;
  height: 100%;
  width: 0%;
  border-radius: 9px;
}
#bar1:after {
  width: 50%;
}
#bar2:after {
  width: 60%;
}
#bar3:after {
  width: 50%;
}
#bar4:after {
  width: 40%;
}

/* Gallery */

#galleryBody {
  background-image: linear-gradient(to bottom, white, var(--lightGreen));
}
#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(5, 150px);
  grid-template-areas:
    "a a b b c c"
    "a a d d c c"
    "e h h h c c"
    "f h h h i i"
    "g h h h i i";
  grid-gap: 0.5rem;
  position: relative;
}
.grid-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item:hover {
  transform: scale(1.05);
}
.grid-item-1 {
  grid-area: a;
}
.grid-item-2 {
  grid-area: c;
}
.grid-item-3 {
  grid-area: b;
}
.grid-item-4 {
  grid-area: d;
}
.grid-item-5 {
  grid-area: e;
}
.grid-item-6 {
  grid-area: f;
}
.grid-item-7 {
  grid-area: g;
}
.grid-item-8 {
  grid-area: h;
}
.grid-item-9 {
  grid-area: i;
}

/* Animation page */

#animationBody {
  background: url("https://source.unsplash.com/TY0wQIAdMQA/1600x900") no-repeat;
  background-size: contain;
  margin-top: 0;
}
.firefly {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.5vw;
  height: 0.5vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: yellow;
  box-shadow: 0 0 0.1vw 0.1vw yellow;
  opacity: 0.5;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}
.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 16s;
}
.firefly:nth-child(1)::after {
  animation-duration: 16s, 1s;
  animation-delay: 0ms, 1s;
}
@keyframes move1 {
  0% {
    transform: translateX(29vw) translateY(21vh) scale(0.64);
  }
  8.3333333333% {
    transform: translateX(-45vw) translateY(8vh) scale(0.93);
  }
  16.6666666667% {
    transform: translateX(-5vw) translateY(4vh) scale(0.67);
  }
  25% {
    transform: translateX(1vw) translateY(-20vh) scale(0.55);
  }
  33.3333333333% {
    transform: translateX(-16vw) translateY(13vh) scale(0.71);
  }
  41.6666666667% {
    transform: translateX(-43vw) translateY(4vh) scale(0.72);
  }
  50% {
    transform: translateX(-23vw) translateY(29vh) scale(0.63);
  }
  58.3333333333% {
    transform: translateX(50vw) translateY(-3vh) scale(0.86);
  }
  66.6666666667% {
    transform: translateX(-24vw) translateY(-20vh) scale(0.8);
  }
  75% {
    transform: translateX(26vw) translateY(45vh) scale(0.62);
  }
  83.3333333333% {
    transform: translateX(1vw) translateY(26vh) scale(0.9);
  }
  91.6666666667% {
    transform: translateX(-36vw) translateY(46vh) scale(0.94);
  }
  100% {
    transform: translateX(-12vw) translateY(48vh) scale(0.68);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 16s;
}
.firefly:nth-child(2)::after {
  animation-duration: 16s, 5871ms;
  animation-delay: 0ms, 5801ms;
}
@keyframes move2 {
  0% {
    transform: translateX(31vw) translateY(-5vh) scale(0.68);
  }
  7.4074074074% {
    transform: translateX(35vw) translateY(46vh) scale(0.48);
  }
  14.8148148148% {
    transform: translateX(12vw) translateY(8vh) scale(0.61);
  }
  22.2222222222% {
    transform: translateX(9vw) translateY(32vh) scale(0.4);
  }
  29.6296296296% {
    transform: translateX(48vw) translateY(15vh) scale(0.7);
  }
  37.037037037% {
    transform: translateX(-5vw) translateY(37vh) scale(0.67);
  }
  44.4444444444% {
    transform: translateX(13vw) translateY(18vh) scale(0.46);
  }
  51.8518518519% {
    transform: translateX(-36vw) translateY(9vh) scale(0.66);
  }
  59.2592592593% {
    transform: translateX(-11vw) translateY(37vh) scale(0.84);
  }
  66.6666666667% {
    transform: translateX(15vw) translateY(-12vh) scale(0.64);
  }
  74.0740740741% {
    transform: translateX(49vw) translateY(-29vh) scale(0.98);
  }
  81.4814814815% {
    transform: translateX(-13vw) translateY(18vh) scale(0.33);
  }
  88.8888888889% {
    transform: translateX(-28vw) translateY(11vh) scale(0.83);
  }
  96.2962962963% {
    transform: translateX(3vw) translateY(42vh) scale(0.49);
  }
  100% {
    transform: translateX(-38vw) translateY(32vh) scale(0.82);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 18s;
}
.firefly:nth-child(3)::after {
  animation-duration: 18s, 6690ms;
  animation-delay: 0ms, 1983ms;
}
@keyframes move3 {
  0% {
    transform: translateX(40vw) translateY(33vh) scale(0.77);
  }
  5.2631578947% {
    transform: translateX(4vw) translateY(-18vh) scale(0.95);
  }
  15.7894736842% {
    transform: translateX(-12vw) translateY(-2vh) scale(0.69);
  }
  26.3157894737% {
    transform: translateX(43vw) translateY(17vh) scale(0.87);
  }
  36.8421052632% {
    transform: translateX(-44vw) translateY(-41vh) scale(0.45);
  }
  47.3684210526% {
    transform: translateX(-16vw) translateY(14vh) scale(0.69);
  }
  57.8947368421% {
    transform: translateX(19vw) translateY(-10vh) scale(0.57);
  }
  68.4210526316% {
    transform: translateX(-40vw) translateY(6vh) scale(0.52);
  }
  78.9473684211% {
    transform: translateX(-18vw) translateY(44vh) scale(0.35);
  }
  89.4736842105% {
    transform: translateX(7vw) translateY(-45vh) scale(0.9);
  }
  100% {
    transform: translateX(40vw) translateY(34vh) scale(0.85);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 12s;
}
.firefly:nth-child(4)::after {
  animation-duration: 12s, 6568ms;
  animation-delay: 0ms, 2263ms;
}
@keyframes move4 {
  0% {
    transform: translateX(14vw) translateY(-34vh) scale(0.9);
  }
  8.3333333333% {
    transform: translateX(-47vw) translateY(1vh) scale(0.91);
  }
  16.6666666667% {
    transform: translateX(6vw) translateY(-22vh) scale(0.66);
  }
  25% {
    transform: translateX(-14vw) translateY(-38vh) scale(0.96);
  }
  33.3333333333% {
    transform: translateX(-6vw) translateY(-7vh) scale(0.41);
  }
  41.6666666667% {
    transform: translateX(5vw) translateY(-39vh) scale(0.53);
  }
  50% {
    transform: translateX(-13vw) translateY(-29vh) scale(0.94);
  }
  58.3333333333% {
    transform: translateX(47vw) translateY(17vh) scale(0.28);
  }
  66.6666666667% {
    transform: translateX(32vw) translateY(-11vh) scale(0.79);
  }
  75% {
    transform: translateX(42vw) translateY(0vh) scale(0.91);
  }
  83.3333333333% {
    transform: translateX(7vw) translateY(-2vh) scale(0.79);
  }
  91.6666666667% {
    transform: translateX(11vw) translateY(2vh) scale(0.38);
  }
  100% {
    transform: translateX(38vw) translateY(-13vh) scale(0.86);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 11s;
}
.firefly:nth-child(5)::after {
  animation-duration: 11s, 5031ms;
  animation-delay: 0ms, 1510ms;
}
@keyframes move5 {
  0% {
    transform: translateX(-47vw) translateY(-32vh) scale(0.53);
  }
  5.2631578947% {
    transform: translateX(23vw) translateY(-47vh) scale(0.85);
  }
  15.7894736842% {
    transform: translateX(27vw) translateY(14vh) scale(0.64);
  }
  26.3157894737% {
    transform: translateX(37vw) translateY(41vh) scale(0.4);
  }
  36.8421052632% {
    transform: translateX(7vw) translateY(40vh) scale(0.56);
  }
  42.1052631579% {
    transform: translateX(10vw) translateY(-45vh) scale(0.42);
  }
  52.6315789474% {
    transform: translateX(-32vw) translateY(46vh) scale(0.38);
  }
  63.1578947368% {
    transform: translateX(-22vw) translateY(-27vh) scale(0.71);
  }
  73.6842105263% {
    transform: translateX(-36vw) translateY(48vh) scale(0.57);
  }
  78.9473684211% {
    transform: translateX(24vw) translateY(-9vh) scale(0.63);
  }
  89.4736842105% {
    transform: translateX(21vw) translateY(15vh) scale(0.57);
  }
  100% {
    transform: translateX(-24vw) translateY(27vh) scale(0.8);
  }
}
.staticFly {
  background: transparent;
  opacity: 0.5;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  transform-origin: -10vw;
  position: absolute;
}
#first {
  top: 57vh;
  left: 20vw;
  width: 0.3vw;
  height: 0.4vw;
  animation-name: lighten1;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@keyframes lighten1 {
  5% {
    background-color: transparent;
  }
  95% {
    background-color: yellow;
    box-shadow: 0 0 0.1vw 0.1vw yellow;
  }
}
#second {
  top: 46vh;
  left: 36vw;
  width: 0.2vw;
  height: 0.3vw;
  animation-name: lighten2;
  animation-duration: 15s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
}
@keyframes lighten2 {
  70% {
    background-color: yellow;
    box-shadow: 0 0 0.1vw 0.1vw yellow;
  }
  30% {
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
#third {
  top: 55vh;
  left: 79vw;
  width: 0.4vw;
  height: 0.2vw;
  animation-name: lighten3;
  animation-duration: 9s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
}
@keyframes lighten3 {
  10% {
    background-color: transparent;
  }
  90% {
    background-color: yellow;
    box-shadow: 0 0 0.1vw 0.1vw yellow;
  }
}
/* Footer area */

footer {
  height: fit-content;
  margin: 5rem 0 0 0;
  padding: 4rem 0 2rem 0;
  background-color: #134038b3;
  text-align: center;
}
#animationFooter {
  background-color: #134038;
  color: #e8e2c6;
}
footer form {
  padding-top: 3rem;
  margin: 0 auto;
  width: 60%;
  text-align: left;
}
footer form label {
  width: 200px;
  display: inline-block;
  text-align: left;
}
footer form .form-group input,
footer form .form-group textarea {
  padding: 5px;
  margin-bottom: 1.25rem;
  border-radius: 3px;
  border: none;
  width: 60%;
  font-size: 16px;
}
footer form .form-group textarea {
  height: 8rem;
}
footer form button {
  display: inline-block;
  background-color: #efd197;
  border-radius: 3px;
  border: none;
  padding: 16px 32px;
  color: black;
  margin-left: 10.22rem;
  font-size: inherit;
  box-shadow: 0 0 10px #134038;
}
footer form button:hover {
  box-shadow: 0 0 25px #134038;
}
#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: #95c490;
  background: transparent;
  border: none;
}
#backToTop:hover {
  color: #efd197;
}
#copyright {
  text-align: center;
  color: #e8e2c6;
  font-size: 12px;
  margin-top: 3rem;
}
#animationFooter {
  margin-top: 100vh;
}

/* Tablet & Mobile Support */

/* @media (max-width: 768px) {
  body {
    background-color: #efd197;
  }
} */

@media (max-width: 576px) {
 
  #mobileButton {
    display: block;
    background-color: transparent;
    border: none;
  }
  #mobileButton .material-icons {
    font-size: 2rem;
  }
  nav ul {
    display: none;
  }
  nav.responsive ul {
    display: block;
    background-color: var(--darkGreen);
    opacity: 0.99;
    position: absolute;
    width: 100%;
    left: 0;
    top: 55px;
  }
  #mobileButton {
    color: var(--lightGreen);
  }
  nav.responsive ul li {
    display: block;
  }
  nav.responsive ul li a {
    display: block;
    padding: 1rem 2rem;
  }
  header nav a {
    font-size: 16px;
  }
  header {
    margin-bottom: 2rem;
  }
  #hero-banner h1 {
    font-size: 5vh;
    z-index: 1;
    margin: 0 50vw 30vh 10vw;
  }
  #present img {
    float: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    border-radius: 3px;
  }
  #past,
  #present,
  #future {
    padding: 1rem 1rem 0.5rem 1rem;
    min-height: 20rem;
    text-align: left;
  }
  #past .past_boxes {
    display: block;
  }
  #past .box {
    margin-bottom: 1.5rem;
    height: 50vh;
    width: 100%;
  }
  #past .box:focus {
    box-shadow: 0 0 25px #8a8a8a;
  }
  #future .skill_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #future .box {
    height: fit-content;
    width: 47%;
    margin: 0 0 1rem 0;
    padding: 1rem 0 0 0rem;
  }
  .progressbar {
    height: 18px;
    width: 80%;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  #future i {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  #future i::before {
    font-size: 56px;
  }
  #future p {
    margin-top: 0;
    text-align: center;
  }
  #gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(7, 70px);
    grid-template-areas:
      "g g h h"
      "g g h h"
      "g g h h"
      "e e e e"
      "e e e e"
      "c c i i"
      "c c i i";
    grid-gap: 0.2rem;
    position: relative;
  }
  .grid-item-1 {
    display: none;
  }
  .grid-item-3 {
    display: none;
  }
  .grid-item-4 {
    display: none;
  }
  .grid-item-6 {
    display: none;
  }
  #animationBody {
    background: url("https://source.unsplash.com/TY0wQIAdMQA/400x900") no-repeat;
    background-size: contain;
    margin-top: 0;
  }
  .firefly {
    width: 2vw;
    height: 2vw;
  }
  footer {
    height: fit-content;
    margin-top: 3rem;
    padding-top: 3rem;
    background-color: #134038b3;
    text-align: center;
  }
  footer form .form-group {
    display: block;
  }
  footer form .form-group input,
  footer form .form-group textarea {
    width: 100%;
  }
  footer form button {
    width: 100%;
    margin: 0;
  }
  #backToTop {
    bottom: 0.5rem;
    right: 0.5rem;
  }
  footer i::before {
    font-size: 24px;
  }
  #copyright {
    padding-bottom: 2rem;
  }
}
